#note: to make this settings file active, you need to run the following command
#when your shell's CWD is in the repo:
#git config --local include.path ../.gitconfig


#only allow fast-forward merging
[merge]
	ff = only

#normalize line endings automatically when files are commited
[core]
	autocrlf = input

#convert tabs to spaces when files are added to the repo
[filter "tab2space"]
    clean = expand --tabs=4 --initial
