Adolfo Garcia <agarcia55512@gmail.com>      adolfogarcia <agarcia55512@gmail.com>
Adolfo Garcia <agarcia55512@gmail.com>      robosub <agarcia55512@gmail.com>
Adolfo Garcia <agarcia55512@gmail.com>      Unknown <agarcia55512@gmail.com>

Brandon Evans <brandon.evans2@wsu.edu>      bevans2 <brandon.evans2@wsu.edu>

Brandon Kallaher <brandonj@kallaher.org>    bkallaher <bkallaher@users.noreply.github.com>

Connor Wool  <benjamin.wool@wsu.edu>        connor wool <benjamin.wool@wsu.edu>

Courtney Snyder <courtney.snyder23@yahoo.com> courtney-snyder <courtney.snyder23@yahoo.com>

Edoardo Vianelli <edoardo.vianelli@wsu.edu> Edoardo Franco Vianelli <edoardo.vianelli@wsu.edu>

Frank Gao <gaofang_frank@hotmail.com>       Frank (Fang) Gao <gaofang_frank@hotmail.com>
Frank Gao <gaofang_frank@hotmail.com>       Frank (Fang) Gao <wanderzaway@hotmail.com>
Frank Gao <gaofang_frank@hotmail.com>       WanderAway <gaofang_frank@hotmail.com>

James Irwin <irwineffect@gmail.com>         irwineffect <irwineffect@users.noreply.github.com>

Lucy Tran <laaa99@gmail.com>                lucy tran <laaa99@gmail.com>

Michelle Farr <michelle.farr@wsu.edu>       Michelle Farr <apersonnamedmichelle@yahoo.com>
Michelle Farr <michelle.farr@wsu.edu>       Michelle Farr <michelle.farr@wsu.edu>
Michelle Farr <michelle.farr@wsu.edu>       Unknown <apersonnamedmichelle@yahoo.com>

Mike Bykhovtsev <mikebykhovtsev@gmail.com>  Sindorman <mikebykhovtsev@gmail.com>

Nathan Young <nathan.young.wsu@gmail.com>   nathanyoung1 <nathan.young.wsu@gmail.com>
Nathan Young <nathan.young.wsu@gmail.com>   Unknown <nathan.young.wsu@gmail.com>

Omar Evans <omarfevans@gmail.com>           robosub <omarfevans@gmail.com>
Omar Evans <omarfevans@gmail.com>           Unknown <omarfevans@gmail.com>

Ryan Summers <summers.ryan.m@gmail.com>     ryan <robsub@cobalt.auv>
Ryan Summers <summers.ryan.m@gmail.com>     ryan <summers.ryan.m@gmail.com>
Ryan Summers <summers.ryan.m@gmail.com>     <ryan.summers@wsu.edu>

Sean Kallaher <seanp@kallaher.org>          Floating-Imp <seanp@kallaher.org>
Sean Kallaher <seanp@kallaher.org>          skallaher <seanp@kallaher.org>
Sean Williams <sean.r.williams@wsu.edu>     Sean R. Williams <sean.r.williams@wsu.edu>

Zachary Pratt <zacharay.pratt@wsu.edu>      AtomicCharge <atomic0charge@gmail.com>
Zachary Pratt <zacharay.pratt@wsu.edu>      Zach Pratt <atomic0charge@gmail.com>
Zachary Pratt <zacharay.pratt@wsu.edu>      zpratt <zachary.pratt@wsu.edu>
Zachary Pratt <zacharay.pratt@wsu.edu>      zpratt <zpratt>
