<library path="src">
  <class name="Control" type="rqt_control.control.Control" base_class_type="rqt_gui_py::Plugin">
    <description>
        A Python GUI plugin for viewing the status of the control system
    </description>
    <qtgui>
      <group>
        <label>RoboSub</label>
        <icon type="theme">folder</icon>
        <statustip>Palouse RoboSub Plugins</statustip>
      </group>
      <label>Control</label>
      <icon type="theme">applications-engineering</icon>
      <statustip>View the status of the Sub's control system</statustip>
    </qtgui>
  </class>
</library>
