<?xml version="1.0"?>


<launch>
	<!--  launch a node -->
	<!-- <node pkg="robosub" type="thruster" name="thruster" required="false"/> -->

	<!-- including another launchfile -->
	<!-- <include file="$(find robosub)/launch/another.launch"/> -->

	<!-- load a settings file -->
	<!-- <rosparam command="load" file="$(find robosub)/param/settings.yaml" /> -->

</launch>
