<?xml version="1.0"?>
<!-- This file launches the sensor node with the specified serial port. -->

<launch>
    <arg name="name" default="bno055" />
    <arg name="remapped" default="False"/>
    <arg name="port" default="/dev/$(arg name)" />
    <rosparam file="$(find robosub)/param/imu.yaml" />
    <node name="$(arg name)" pkg="robosub" type="bno055_sensor">
        <rosparam param="port" subst_value="True">$(arg port)</rosparam>
        <remap from="orientation" to="orientation2" if="$(arg remapped)"/>
        <remap from="pretty/orientation" to="pretty/orientation2" if="$(arg remapped)"/>
        <remap from="acceleration/linear" to="acceleration2/linear" if="$(arg remapped)"/>
    </node>
</launch>
