<?xml version="1.0"?>
<!-- This launchfile loads the main settings file and starts up the basic nodes
     needed to get the sub moving:
        - sensors (depth and IMU)
        - control system
        - thrusters

     Note that this launch file uses the ROBOSUB_NAME environment variable to
     determine which lower level launch file (i.e. ironman, cobalt) to include.
-->
<launch>
    <rosparam command="load" file="$(find robosub)/param/$(env ROBOSUB_NAME).yaml" />
    <include file="$(find robosub)/launch/include/minimal_$(env ROBOSUB_NAME).xml" />
</launch>
