<?xml version="1.0"?>
<launch>

    <!-- specify output directory, default is current directory -->
    <arg name="outdir" default="$(env PWD)" />

    <!-- record all cameras -->
    <node pkg="rosbag" type="record" name="camera_bag" output="screen"
        args="-o $(arg outdir)/cameras -e /camera/(.*)/undistorted" />

    <!-- record all sensors -->
    <node pkg="rosbag" type="record" name="sensor_bag" output="screen"
        args="-o $(arg outdir)/sensor
              -e /bno055_(.*)/(.*)
                 /trax/(.*)
                 /depth
                 /power/ups
                 /(.*)/temperatures
                 /orientation
                 /pretty/orientation"/>


    <!-- record all control system info -->
    <node pkg="rosbag" type="record" name="control_bag" output="screen"
        args="-o $(arg outdir)/control /control /control_status" />

    <!-- record darknet vision processing -->
    <node pkg="rosbag" type="record" name="darknet_bag" output="screen"
        args="-o $(arg outdir)/darknet /vision" />

    <node pkg="rosbag" type="record" name="rosout_bag" output="screen"
        args="-o $(arg outdir)/rosout /rosout_agg" />

    <node pkg="rosbag" type="record" name="smach_bag" output="screen"
        args="-o $(arg outdir)/smach -e /smach_server/(.*)" />

</launch>
