<?xml version="1.0"?>
<launch>
    <param name="cobalt_description" textfile="$(find robosub)/models/cobalt.urdf" />
    <node name="cobalt_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true">
        <remap from="robot_description" to="cobalt_description"/>
        <remap from="base_link" to="cobalt"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robosub)/rviz/basic.rviz" required="true" />
</launch>
