<?xml version="1.0"?>

<launch>
    <node pkg="robosub" type="ryan_undistort" name="left_undistortion" output="screen">
        <param name="camera" value="left" />
        <rosparam command="load" file="$(find robosub)/param/left_camera.yaml" />
    </node>

    <node pkg="robosub" type="ryan_undistort" name="right_undistortion" output="screen">
        <param name="camera" value="right" />
        <rosparam command="load" file="$(find robosub)/param/right_camera.yaml" />
    </node>

</launch>
