<?xml version="1.0"?>

<launch>

    <arg name="doImShow" default="false"/>

    <arg name="simulated" default="false"/>

    <arg name="leftImage" default="camera/left/undistorted" unless="$(arg simulated)"/>
    <arg name="rightImage" default="camera/right/undistorted" unless="$(arg simulated)"/>
    <arg name="bottomImage" default="camera/bottom/undistorted" unless="$(arg simulated)"/>

    <arg name="leftImage" default="camera/left" if="$(arg simulated)"/>
    <arg name="rightImage" default="camera/right" if="$(arg simulated)"/>
    <arg name="bottomImage" default="camera/bottom" if="$(arg simulated)"/>

    <arg name="calibFile" default="src/vision/calib/stereo_out_camera_data.xml"/>

    <!--Set /visualize_thrusters to false if being simulated.
        This prevents visualization from messing with color detection-->
    <rosparam param="/visualize_thrusters" subst_value="True" if="$(arg simulated)">false</rosparam>

    <!-- Start gate vision detection -->
    <node pkg="robosub" type="vision" name="gate_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/start_gate"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/startGateVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/startGateVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="2"/>
        <param name="use_bottom_cam" value="false"/>
    </node>

    <!-- Red buoy vision detection -->
    <node pkg="robosub" type="vision" name="red_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/buoys/red"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/redVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/redVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
        <param name="use_bottom_cam" value="false"/>
    </node>

    <!-- Green buoy vision detection -->
    <node pkg="robosub" type="vision" name="green_vision" args="$(find robosub)/$(arg calibFile)"  output="screen" required="false">
        <remap from="vision/output_default" to="vision/buoys/green"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/greenVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/greenVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
        <param name="use_bottom_cam" value="false"/>
    </node>

    <!-- Yellow buoy vision detection -->
    <node pkg="robosub" type="vision" name="yellow_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/buoys/yellow"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/yellowVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/yellowVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
        <param name="use_bottom_cam" value="false"/>
    </node>
    
    <!-- Navigate Pass vision detection -->
    <node pkg="robosub" type="vision" name="navigate_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/navigate_pass"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/yellowVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/yellowVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
        <param name="use_bottom_cam" value="false"/>
    </node>

    <!-- Marker Bin vision detection -->
    <node pkg="robosub" type="vision" name="bin_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/bins"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/binVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/binVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="2"/>
        <param name="use_bottom_cam" value="true"/>
    </node>

    <!-- Torpedo target vision detection -->
    <node pkg="robosub" type="vision" name="torpedo_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/torpedo_target"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/torpedoVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/torpedoVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
        <param name="use_bottom_cam" value="false"/>
    </node>

    <!-- Octagon vision detection -->
    <node pkg="robosub" type="vision" name="octagon_vision" args="$(find robosub)/$(arg calibFile)" output="screen" required="false">
        <remap from="vision/output_default" to="vision/octagon"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <remap from="camera/bottom/undistorted" to="$(arg bottomImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/octagonVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/sim/octagonVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
        <param name="use_bottom_cam" value="true"/>
    </node>
</launch>
