<?xml version="1.0"?>

<launch>

    <arg name="doImShow" default="false"/>
    <arg name="leftImage" default="camera/left/undistorted"/>
    <arg name="rightImage" default="camera/right/undistorted"/>
    
    <arg name="simulated" default="false"/>

    <rosparam param="/visualize_thrusters" subst_value="True" if="$(arg simulated)">false</rosparam>

    <node pkg="robosub" type="vision" name="red_vision" required="false">
        <remap from="vision/output_default" to="vision/buoys/red"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/redVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/redVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
    </node>

    <node pkg="robosub" type="vision" name="green_vision" required="false">
        <remap from="vision/output_default" to="vision/buoys/green"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/greenVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/greenVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
    </node>

    <node pkg="robosub" type="vision" name="yellow_vision" required="false">
        <remap from="vision/output_default" to="vision/buoys/yellow"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/yellowVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/yellowVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="1"/>
    </node>

    <node pkg="robosub" type="vision" name="gate_vision" required="false">
        <remap from="vision/output_default" to="vision/start_gate"/>
        <remap from="camera/left/undistorted" to="$(arg leftImage)"/>
        <remap from="camera/right/undistorted" to="$(arg rightImage)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/startGateVis.yaml" unless="$(arg simulated)"/>
        <rosparam command="load" ns="processing" file="$(find robosub)/param/vision/startGateVisSim.yaml" if="$(arg simulated)"/>
        <param name="processing/doImShow" value="$(arg doImShow)"/>
        <param name="nLargest" value="2"/>
    </node>

</launch>
